
<div class="brunc">
  <%= image_tag("brunc.jpg", class: "brunc")%>
</div>
<center>
<div class="parallax"></div>

<div style="height:1000px; width:1000px;background-color:lightblue;font-size:20px">
  <h1>BRUNCH</h1>

  AVOCADO TOAST • 13<br>
  Pressed Ciabata Toast, Avocado, Lime & Micro Cilantro
  add: smoked salmon (6), steak (5), seitan (6)<br><br>
  HUEVOS RANCHEROS • 13<br>
  Two Fried Eggs, White Arepa, Hominy, Fried Leeks, Queso Fresco,
  Crema & Ranchera Sauce<br><br>
  HUEVOS con CHILAQUILES • 14<br>
  Scrambled Eggs, Tortilla Chips, Chipotle Orange, Brown Butter,
  Roasted Asparagus, Cauliflower, Cilantro Crema, Cotija Cheese<br><br>
  STEAK & EGGS • 17<br>
  Hanger Steak, Serrano Mignonette Emulsion & Fried Eggs<br><br>
  BUTTERMILK BISCUITS & GRAVY • 16<br>
  Two Fried Eggs, House Made Buttermilk Biscuits & Chorizo Gravy
  with Rajas<br><br>
  BLANCA OMELETTE • 16<br>
  Egg Whites, Spinach, Kale, Seasonal Mushrooms, Ranchera Sauce,
  Melted Chihuahua Cheese<br><br>
  HUEVOS BENITO • 16<br>
  Two Poached Eggs, Pastrami Cured Salmon, Cilantro Bearnaise &
  English Mun<br><br>
  BURRITO LOCO • 18<br>
  Flour Tortilla, Two Fried Eggs, House Made Green Chorizo, Thick
  Cut Bacon, Carnitas, Smoked Gouda, House Rice, Black Beans,
  Salsa Verde & Bacon Ancho Ketchup<br><br>
  TORREJA BORRACHA • 14<br>
  Flan & Beer Battered French Toast, Candied Pecans, Maple Syrup
  & Whipped Cream<br><br>
  AGAVE LIME RICOTTA PANCAKES • 14<br>
  Maple Syrup<br><br>
  CHURRO WAFFLE PARFAIT • 15<br>
  Churro Wae Tossed with Cinnamon & Sugar, Whipped Yogurt,
  Fresh Berries & Maple Syrup
</div>
</center>
