


<div class="din">
  <%= image_tag("din.jpg", class: "din")%>
</div>
<center>
<div class="parallax"></div>
<div style="height:1200px; width:1000px; opacity:.8;color:brown;font-size:28px">
<h1>DINNER</h1>
MAINS

SHRIMP AJILLO & SAFFRON RICE • 25<br>
Jumbo Shrimp Ajillo, Saffron Fried Rice, Scrambled Egg, Poblano, Red Pepper<br><br>
TORTADA MEXICANA | SANDWICH • 16<br>
Beef Tinga, Ciabatta Bread, Chihuahua Cheese, Shredded Romaine, Marinated Red Onion, Chipotle Mayo, Salsa Verde<br><br>
BARRIO BURGER • 16<br>
Two 4oz Burger Patties, Serrano Tartar Sauce, Chipotle Aioli, Pork Belly, Marinated Red Onions, Smoked Gouda & Cheddar Cheese
Fondue<br><br>
SEAFOOD BUCKET • 28<br>
Lobster, Mussels, Head On Shrimp, Garlic, White Wine, Parsley & Pasilla de Oaxaca Butter
ENCHILADA VEGETARIANA • 16<br><br>
Cauliflower, Asparagus, Plantains, OMK Powder, Pine Nuts, Crisp Leeks, Lemon Zest & Ranchera Sauce<br><br>
ENCHILADA SUIZA • 16<br>
Shredded Chicken, Creamy Tomatillo Sauce, Chihuahua & Oaxacan Cheese<br>
CAST IRON SALMON • 25<br>
Crispy Skin Salmon, Quinoa, Poblano Peppers, Roasted Asparagus, Herb Salad & Citrus Beurre Blanc<br>
BAM BAM DINO • 29<br>
Adobe Marinated and Roasted Bone in Beef Short Rib, Smoked Gouda Polenta & Tomato Ancho Chipotle Sauce<br><br>
CARNE ASADA • 31<br>
Seared Skirt Steak, Serrano Tartar Sauce & Hand Cut Garlic Parmesan Herb Fries

</div>
</center>
