

<div class="drink">
  <%= image_tag("drink.jpg", class: "drink")%>
</div>

<center>
<div class="parallax"></div>
<div style="height:1200px; width:1000px; background-color:yellow;font-size:28px">
  <h1>DRINKS MENU</h1>
  FROZEN MARGARITA • 10<br>
  All Natural Daily Flavor<br><br>
  NUESTRA CASA • 9<br>
  Silver Tequila, Citrus, Agave<br><br>
  AUMENTAR “Our Signature” • 10<br>
  Sauza Hornitos Silver, Citrus, Agave<br><br>
  MARLEE AHUMADO “Smokey” • 11<br>
  Silver Tequila, Mezcal, Grapefruit, Agave, Lime, Chile de Arbol<br><br>
  ELITE • 13<br>
  Sauza Hornitos Anejo, Grand Marnier, Citrus, Agave<br><br>
  LOW RIDER CADDY • 12<br>
  Sauza Hornitos Reposado, Dry Curacao, Citrus, Agave<br><br>
  GRINGO • 10<br>
  Silver Tequila, Orange, OMK Powder, Citrus, Agave<br><br>
  STRAWBERRY SMOKE • 13<br>
  Mezcal, Strawberry, Aperol, Lemon & Egg White<br><br>
  PEPINO EAST • 11<br>
  Silver Tequila, Cucumber, Mint, Citrus<br><br>
  ILEGALLY AGED • 13<br>
  Whiskey, Mezcal & Creme Yvette Barrel Aged, Citrus & Agave
  <!-- HAPPY-HOUR
MONDAY - FRIDAY
3:00 PM- 7:00 PM { BAR ONLY }
$3 CORONAS
$5 GLASSES OF SANGRIA
$6 FROZEN MARGARITAS
$5 HOUSE MARGARITAS
$5 HOUSE LIQUOR DRINKS -->
</div>
</center>
