
<div class="lunc">
  <%= image_tag("lunc.jpg", class: "lunc")%>
</div>
<center>
<div class="parallax"></div>
<div style="height:1200px; width:1000px; background-color:lightgreen;opacity:0.7;font-size:28px">
  <h1>LUNCH</h1>
spring pea empanadas with green chili yogurt 11<br>
spiced ground beef and celery root empanadas with tomato salsa 12<br>
sautéed mushroom tacos, cashews, mole, kaleand lime 14<br>
crispy or grilled fish tacos, aioli and cabbage-chili pickle 17<br>
chipotle chicken tacos, grilled jalapeno salsa 17<br>
huevos rancheros, farm eggs, fresh corn tortillas 20<br>
mexicanlasagna with stewed chicken 21<br>
spring vegetables, brown rice and salsa verde 15<br>
arroz con pollo, crackling skin and lemon zest 26<br>
Salads<br>
Add: crispy chicken 25 grilled salmon 24 chimichurri shrimp 23<br><br>
quinoa and romainesalad with spring vegetables and mint
salanova lettuce, citrus dressing, market vegetables
radicchioand spring vegetablesalad, basil, mustard-sherry vinaigrette<br><br>
Sandwiches<br>
crispy fish sandwich, black olive tartar sauce, chilies and arugula 22<br>
roasted turkey cuban sandwich, flying pigsham,cheese and pickles 19<br>
berkshire pork sandwich, red watercress, marinated radishes 18<br>
cheeseburger with mole and pickles 20<br><br>



</div>
</center>
