<h1>MAP</h1>

<% @localarray = Array.new %>

<% @events.each do |event| %>
  <% @location = {
    lat: event.latitude,
    lng: event.longitude,
    marker: event.name,
    eventid: event.id
    } %>
  <% @localarray.push(@location) %>
<% end %>

<%= puts "hola" + @localarray.to_s %>
<script type="text/javascript">
  let locationTest = <%=raw @localarray.to_json %>
</script>
