// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin-top: auto;
    //GLOBAL STYLES

    @media only screen and (max-width: 770px){
        //MOBILE ONLY STYLES
    }

    @media only screen and (min-width:771px) and (max-width:1040px){
        //TABLET ONLY STYLES
    }

    @media (min-width: 771px){
        //STYLING COMMON TO BOTH TABLET AND DESKTOP
    }

    @media (min-width: 1040px){
        //DESKTOP ONLY STYLES
    }

}


  .restaurant {

        text-align: center;
        float: none;
        margin: 0 auto 30px;
        width: 90%;
    }

.parallax {
    background-image: url("imgages_drink.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



  .drink {
  width: 100%;
  height: 100%;
  position: fixed;
 left: 0px;
 top: 0px;
 z-index: -1;

}

// ==================================================================
.parallax {
    background-image: url("imgages_din.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .din{
  width: 100%;
  height: 100%;
  position: fixed;
 left: 0px;
 top: 0px;
 z-index: -1;
}


.parallax {
    background-image: url("imgages_brunc.jpg");
    /* Set a specific height */
    min-height: 900px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.brunc {
  width: 100%;
  height: 100%;
  position: fixed;
 left: 0px;
 top: 0px;
 z-index: -1;
}
.parallax {
    background-image: url("imgages_lunc.jpg");
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lunc {
  width: 100%;
  height: 100%;
  position: fixed;
 left: 0px;
 top: 0px;
 z-index: -1;
 // opacity: 0.9;

}

    h2 span {
        font-family: cursive;
        text-align: center;
        padding-top: 100px;
        color: black;
        // font-size: 60px;
    }

    h2 {
        text-align: center;
    }

    .bottle {
        width: 40px;
        height: 36px;
    }

    .lunch {
        width: 40px;
        height: 36px;
    }

    .sombrero {
        width: 40px;
        height: 36px;
        display: inline-block;
    }

    .brunch {
        width: 40px;
        height: 36;
    }

    .reservations {
        width: 40px;
        height: 36px;
    }

    .contact {
        width: 40px;
        height: 36px;

    }

    .map {
        width: 40px;
        height: 36px;
    }
     p {
      font-size: 20px;
    }
hours{
  font-size: 30px;
}
    #casa {
      font-size: 70px;
        position: relative;
        color: black;
    }

    #publica {
      font-size: 70px;
        position: relative;
        color: black;
    }

    .item {
        width: 700px;
        height: 500px;
        margin: 0 auto;
    }

    #icon {
        width: 100px;
        position: relative;
    }

    .sidebar-out {
        position: fixed;
        top: 0;
        bottom: 0;
        border-style: 1px solid;
    }

    .sidebar a:hover {
        color: rgba(0, 0, 0, 0.00);
    }
    // a.right.carousel-control {
    //     background: none;
    // }
    // a.left.carousel-control {
    //   background: none;
    // }
    .sidebar ul li a {
      position: fixed;
        text-decoration: none;
    }
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
    @import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

    .fa-2x {
        font-size: 2em;
    }

    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    }
    // .main-menu:hover,nav.main-menu.expanded {
    // width:250px;
    // overflow:visible;
    // }
    .main-menu {
        background: #909090;
        border-right: 1px solid #898999;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300%;
        height: 85px;
      display: inline;
      padding-left: 20;
    }

    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: inline;
        width: 250px;

    }

    .main-menu li > a {
    display: inline;
        // position: relative;
        // display: table;
        // border-collapse: collapse;
        border-spacing: 0;
        color: #999;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1,1);
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .main-menu .nav-icon {
      display: block;
        // position: relative;
        // display: table-cell;
        width: 40px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
      display: block;
        // position: relative;
        // display: table-cell;
        // vertical-align: middle;
        width: 190px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
      display: block;
        // position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:focus,
    a:hover {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav li,
    nav ul {

        outline: 0;
        margin: 0;
        padding: 0;
    }

    .dashboard-page nav.dashboard-menu ul li.active a,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:focus,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover,
    .main-menu li:hover > a,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    nav.main-menu li.active > a {
        color: #909090;
        // background-color: #787652;
    }

    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
    }
    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url("http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff") format('woff');
    }

    h1 {
        font-size: 60px;
        font-family: cursive;
        text-align: center;

    }

    .center {
      width: 800px;
      // height: 00px;
      margin: 10px;
      // display:inline-block;
    border: 2px solid black;
    // padding-left: 200px;
    // margin-left: 100px;
  }
  .main-map, #map {
    // padding-left: 200px;
    width: 800px;
    height: 800px;
    margin: 200px;
    // display:block;


}

    .restaurant {
        text-align: center;
        float: none;
        margin: 0 auto 30px;
        width: 90%;
    }

    .nav-button {
      margin-top: 20px;

    }


a:visited {
  color: black;
}

    .nav-button:hover {
 border-right:1px solid #bbb;
      background-color: #00FFFF;
      padding:10px 25px;
      text-decoration: none;
    }

    h2 span {

        font-family: cursive;
        text-align: center;
        padding-top: 100px;
        color: black;
        font-size: 60px;
    }

    a{
      font-size: 25px;
      text-decoration: none;
      color: black;
    }
    #myCarousel{
      margin-top: 200px;
      width: 1500px;
      width: 1000px;
    }

    h2 {
      margin-top: 100px;
        text-align: center;
    }

    .bottle {
        width: 40px;
        height: 36px;
    }

    .lunch {
        width: 40px;
        height: 36px;
    }

    .sombrero {
        width: 40px;
        height: 36px;
    }

    .brunch {
        width: 40px;
        height: 36;
    }

    .reservations {
        width: 40px;
        height: 36px;
    }

    .contact {
        width: 40px;
        height: 36px;
    }

    .map {
        width: 40px;
        height: 36px;
    }

    #casa {
        position: relative;
        color: black;
    }

    #publica {
        position: relative;
        color: black;
    }

    .item {
        width: 700px;
        height: 500px;
        margin: 0 auto;
    }

    #icon {
        width: 100px;
        position: relative;
    }

    .sidebar-out {
        position: fixed;
        top: 0;
        bottom: 0;
        border-style: 1px solid;
    }

    .sidebar a:hover {
        color: rgba(0, 0, 0, 0.00);
    }
    // a.right.carousel-control {
    //     background: none;
    // }
    // a.left.carousel-control {
    //   background: none;
    // }
    .sidebar ul li a {
      display: block;
        text-decoration: none;
    }
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
    @import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

    // .fa-2x {
    //     font-size: 2em;
    // }
    //
    // .fa {
    //     position: relative;
    //     display: table-cell;
    //     width: 60px;
    //     height: 36px;
    //     text-align: center;
    //     vertical-align: middle;
    //     font-size: 20px;
    // }
    // .main-menu:hover,nav.main-menu.expanded {
    // width:250px;
    // overflow:visible;
    // }
    // .main-menu {
    //     background: #fbfbef;
    //     border-right: 1px solid #898900;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     height: 100%;
    //     left: 0; // width:60px;
    //     // overflow:hidden;
    //     -webkit-transition: width 0.05s linear;
    //     transition: width 0.05s linear;
    //     -webkit-transform: translateZ(0) scale(1,1);
    //     z-index: 1000;
    //     width: 220px;
    //     overflow: visible;
    // }

    .main-menu > ul {
      display: inline;
        margin: 7px 0;
    }

    .main-menu li {
        // position: fixed;
        display: inline-block;

    }
    // .main-menu{
    //   width: 250px;
    // }

    .main-menu li > a {
      display: block;
      padding-left: 30px;
      padding-top: 2px;
        position: relative;
        display: block;
        // display: table;
        // border-collapse: collapse;
        border-spacing: 0;
        color: #991166;
        font-family: cursive;
        font-size: 40px;
        // text-decoration: none;
        // -webkit-transform: translateZ(0) scale(1,1);
        // -webkit-transition: all 0.1s linear;
        // transition: all 0.1s linear;
    }

    .main-menu .nav-icon {
      display: block;
        position: relative;
        // display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 250px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:focus,
    a:hover {
        text-decoration: none;
    }

    nav {

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav li,
    nav ul {
      display: block;
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .dashboard-page nav.dashboard-menu ul li.active a,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:focus,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover,
    .main-menu li:hover > a,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    nav.main-menu li.active > a {
        color: #342399;
        background-color: #991166;
    }

    // .area {
    //     float: left;
    //     background: #a3a4;
    //     width: 100%;
    //     height: 100%;
    // }
    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url("http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff") format('woff');
    }

    h1 {
        font-size: 60px;
        font-family: cursive;
        text-align: center;
    }

    .contact-page {
      margin-top: 200px;
        text-align: center;
        height: 800px;
        width: 800px;
        // margin: auto;
        border: 2px solid black;
    }
    // ================================================================================
